* {
    box-sizing: border-box;
}

.menu {
  list-style: none;
    height: 50px;
  border-bottom: 0.1em solid black;
  margin: 0;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

#map-container {
  width: 100%;
  height: calc(100vh - 50px);
}